# =========================
# Python
# =========================

.venv/
__pycache__/
*.py[cod]
.pytest_cache/

# =========================
# Environment variables
# =========================

.env
.env.*
!.env.example

# =========================
# Node / Next.js
# =========================

frontend/node_modules/
frontend/.next/
frontend/out/

# =========================
# IDE / Editor
# =========================

.vscode/
.idea/

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log
.vercel
